.match_ask_list{
    /* border: 1px solid black; */
    width: 1300px;
    margin-left: 15%;
    margin-top: 40px;
    padding: 10px 100px 0px 50px;
}
.match_list_thead{
    /* border: 1px solid black; */
    background-color: gainsboro;
}
.match_list{
    text-align: center;
    width: 800px;
} 
.match_list_th{
    /* border: 1px solid black; */
    width: 500px;
    padding: 20px 10px;
    font-size: 19px;
    font-weight: 700;
    text-align: center;
}
.title{
    margin-bottom: 40px;
    font-size: 20px;
    
}
.button{
    border: 0px;
    background-color: gainsboro;
    font-size: 20px;
    margin-bottom: 40px;
    margin-right: 40px;
    font-weight: 500;
    border-radius: 10%;
    width: 99px;
    height: 40px;
}
.match_list_del_button{
    border: 0px;
    background-color: red;
    border-radius: 10%;
    width: 90px;
    height: 40px;
    color: white;
}
.match_list_tbody{
    border-bottom: 1px solid black;
    padding: 1090px;
}
.match_list_td{
    padding: 10px 0px;
}
.match_list_State{
    border: 0px;
}
#match_list_Checking{
background-color: rgb(60, 167, 255);
width: 130px;
height: 50px;
font-weight: 700;
border: 0px ;
border-radius: 10px;
}
#match_list_No{
background-color: red;
width: 130px;
height: 50px;
font-weight: 700;
border: 0px ;
border-radius: 10px;
}
#match_list_Yes{
background-color: rgb(0, 255, 0);
width: 130px;
height: 50px;
font-weight: 700;
border: 0px ;
border-radius: 10px;
}