<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC   "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>

<mapper namespace="com.back.team.dao.TeamDAO">

	<select id="teamDetail" resultType="com.back.team.dto.TeamDTO">
		SELECT 
			t.team_idx 
			,t.logo
			,t.team_name
			,(SELECT id FROM member m WHERE m.id = t.id AND t.team_idx = #{param1}) AS id
			,t.team_address
			,t.team_level
			,(SELECT COUNT(tl.team_idx) FROM team_list tl WHERE tl.team_idx = #{param1}) AS teamCount
			,t.team_info
			FROM team t
			WHERE t.team_idx = #{param1}
	</select>
	
	<select id="listTeam" resultType="com.back.team.dto.TeamDTO">
		SELECT 
			(SELECT id FROM member m WHERE m.id = tl.id) AS id
			,tl.team_date
			FROM team_list tl
			WHERE tl.team_idx = #{param2}
			ORDER BY tl.team_date asc LIMIT #{param1}, 10
	</select>
	
	<select id="teamTotal" resultType="int">
		SELECT CEIL(COUNT((SELECT id FROM member m WHERE m.id = tl.id))/10) AS totalPage 
			FROM team_list tl
			WHERE tl.team_idx = #{param1}
	</select>
	
	<select id="listAppli" resultType="com.back.team.dto.TeamDTO">
		SELECT 
			applicant_idx
			,id
			,(SELECT level  FROM member m WHERE m.id = tjl.id) AS level
			,(SELECT position  FROM member m WHERE m.id = tjl.id) AS position
			FROM team_join_list tjl
			WHERE join_team_idx in (SELECT 
			join_team_idx 
			FROM team_join tj 
			WHERE team_idx = #{param2})
			AND tjl.join_state = '대기중'
			ORDER BY applicant_idx asc LIMIT #{param1}, 10
	</select>
	
	<select id="listAppliGuest" resultType="com.back.team.dto.TeamDTO">
		SELECT 
			guest_idx
			,id
			,(SELECT level  FROM member m WHERE m.id = gjl.id) AS level
			,(SELECT position  FROM member m WHERE m.id = gjl.id) AS position
			FROM guest_join_list gjl 
			WHERE guest_join_idx in (SELECT 
			guest_join_idx 
			FROM guest_join tj 
			WHERE guest_idx in (SELECT 
			guest_idx
			from guest_join
			where team_idx = #{param2}))
			AND gjl.guest_join_state = '대기중' OR gjl.guest_join_state = '신청중'
			ORDER BY guest_join_idx asc LIMIT #{param1}, 10
	</select>	
	
	<select id="appliTotal" resultType="int">
		SELECT CEIL(COUNT((SELECT level  FROM member m WHERE m.id = tjl.id))/10) AS totalPage 
			FROM team_join_list tjl
			WHERE join_team_idx in (SELECT 
			join_team_idx 
			FROM team_join tj 
			WHERE team_idx = #{param1})
			AND join_state = '대기중'
	</select>
	
	<select id="appliGuestTotal" resultType="int">
		SELECT CEIL(COUNT((SELECT level  FROM member m WHERE m.id = gjl.id))/10) AS totalPage 
			FROM guest_join_list gjl 
			WHERE guest_join_idx in (SELECT 
			guest_join_idx 
			FROM guest_join gj 
			WHERE team_idx = #{param1})
			AND guest_join_state = '대기중'	or guest_join_state = '신청중'
	</select>	
	
	<select id="listWriteTeam" resultType="com.back.team.dto.TeamDTO">
		SELECT 
			join_team_idx
			,join_team_gender 
			,join_team_level 
			,join_team_position
			FROM team_join tj 
			JOIN team t 
			ON tj.team_idx = t.team_idx 
			WHERE t.id = #{param2}
			AND tj.join_team_state = "true"
			ORDER BY tj.join_team_idx  DESC LIMIT 1
	</select>
	
	<select id="listWriteGuest" resultType="com.back.team.dto.TeamDTO">
		SELECT 
			guest_idx
			,guest_gender
			,guest_level
			,guest_position
			FROM guest_join gj 
			JOIN team t 
			ON gj.team_idx = t.team_idx 
			WHERE gj.id = #{param3}
			AND gj.guest_state = "true"
			ORDER BY gj.guest_idx  DESC LIMIT #{param1},#{param4}
	</select>
	
	<select id="writeTotal" resultType="int">
		SELECT 
			ceil(((select count(team_idx) 
			from team_join 
			where team_idx = #{param1} AND join_team_state = "true") + 
			(SELECT COUNT(guest_idx) FROM guest_join gj WHERE gj.id = #{param2}))/10)
			AS totalPage
			FROM guest_join
			GROUP BY id LIMIT 1
	</select>
	
	<select id="listDrop" resultType="com.back.team.dto.TeamDTO">
		SELECT
			tq.id
			,team_ban
			FROM team_quit tq
			JOIN team t 
			ON tq.team_idx = t.team_idx
			WHERE t.team_idx = #{param2}
			LIMIT #{param1},10
	</select>
	
	<select id="dropTotal" resultType="int">
		SELECT CEIL(COUNT(id)/10) AS totalPage 
			FROM team_quit tq
			WHERE tq.team_idx = #{param1}
	</select>
	
	<select id="userPop" resultType="com.back.team.dto.TeamDTO">
		SELECT 
			id
			,level
			,position
			,gender
			,address
			FROM member
			WHERE id = #{param1}
	</select>
	
	<select id="teamName" resultType="string">
		SELECT 
			team_name
			FROM team t 
			WHERE team_idx = #{param1}
	</select>	
	
	<insert id="dropList">
		INSERT INTO team_quit(id
		,team_idx
		,team_ban) VALUES(#{param2},#{param1},"추방")
	</insert>
	
	<delete id="dropMember">
		DELETE 
			FROM team_list 
			WHERE team_idx = #{param1}
			AND id = #{param2}
	</delete>
	
	<insert id="sendNotice">
		INSERT INTO notice(id,
		notice_content) VALUES(#{param2}, #{param1})
	</insert>	
	
	<insert id="intoTeam">
		INSERT INTO team_list(id
		,team_idx) VALUES(#{param2},#{param1})
	</insert>	
	
<!-- 	<delete id="delJoinList">
		DELETE 
			FROM team_join_list 
			WHERE applicant_idx = #{param1}
	</delete>	 -->
	
	<update id="delTeamWrite">
		UPDATE 
			team_join 
			SET join_team_state = "false" 
			WHERE join_team_idx = #{param1}
	</update>
	
	<update id="delGuestWrite">
		UPDATE
			guest_join 
			SET guest_state = "false" 
			WHERE guest_idx = #{param1}
	</update>	
	
	<select id="searchTeam" resultType="String">
		SELECT 
			id
			FROM team_list
			WHERE team_idx = #{param1}
	</select>		
	
	<delete id="destroyTeam" >
		DELETE
			FROM team
			WHERE team_idx = #{param1}
			AND id = #{param2};
	</delete>		
	
	<insert id="createComplete"
		useGeneratedKeys="true"
		keyColumn="team_idx"
		keyProperty="team_idx"
		parameterType="com.back.team.dto.TeamDTO"
	>
		INSERT INTO team(id
		,logo
		,team_name
		,team_address
		,team_level
		,team_info) VALUES(#{id}
		,#{logo}
		,#{team_name}
		,#{team_address}
		,#{team_level}
		,#{team_info})
	</insert>	
	
	<insert id="insertTeamList">
		insert into team_list(id
		,team_idx) values(#{param1}, #{param2});
	</insert>		
	
	<update id="updateLogo">
		UPDATE team set
		logo = #{param1} WHERE team_idx = #{param2}
	</update>		
	
	<update id="updateStateYes">
		UPDATE team_join_list 
			SET join_state = '수락' 
			WHERE applicant_idx = #{param1}
	</update>		
	
	<update id="updateStateNo">
		UPDATE team_join_list 
			SET join_state = '거부' 
			WHERE applicant_idx = #{param1}
	</update>			
	

</mapper>


























