<?xml version="1.0" encoding="UTF-8"?>
<!-- 시스템에게 참고하라고 주는것. 이게 필요 -->
<!DOCTYPE mapper PUBLIC   "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>
<!-- 이 xml 은 어떤 interface를 참조해서 사용해야 하는가? -->
<mapper namespace="com.back.header.dao.AdminHeaderDAO">
	
	
	
</mapper>


























